<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<div th:replace="~{fragments/general :: notification-modal}"></div>

<main class="container mt-4 flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Set width to col-md-6 for 50% of the page width -->
            <form action="#" th:action="@{addressForm}" method="post" th:object="${selectedAddressesInput}">
                <div class="form-group mb-4">
                    <!-- Adjusted column width to col-md-6 and added mb-4 for vertical margin -->
                    <label for="delivery">Выберите адрес пункта отправления: </label>
                    <select id="delivery" name="delivery" class="form-control address-dropdown mt-2">
                        <option th:each="address : ${allAddresses}"
                                th:field="*{delivery}"
                                th:value="${address.id}"
                                th:text="${address.name}"></option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <!-- Adjusted column width to col-md-6 and added mb-4 for vertical margin -->
                    <label for="departure">Выберите адрес пункта получения: </label>
                    <select id="departure" name="departure" class="form-control address-dropdown mt-2">
                        <option th:each="address : ${allAddresses}"
                                th:field="*{departure}"
                                th:value="${address.id}"
                                th:text="${address.name}"></option>
                    </select>
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}"></div>

                <div class="form-group mt-4 justify-content-center">
                    <div th:replace="~{fragments/general :: prev-next-step-buttons ('Далее')}"></div>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:insert="~{fragments/general :: footer}"></footer>

<script>
    $(document).ready(function () {
        $('.address-dropdown').select2();
    });
</script>
</body>
</html>
