<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<div th:replace="~{fragments/general :: notification-modal}"></div>

<main class="container mt-4 flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Set width to col-md-6 for 50% of the page width -->
            <div class="list-group flex-column align-items-start">
                <div class="list-group-item w-100">
                    Отправляем из: <span th:text="|${selectedAddresses.departure.name} |"></span>
                </div>

                <div class="list-group-item w-100">
                    Груз прибудет в: <span th:text="|${selectedAddresses.delivery.name} |"></span>
                </div>

                <div class="list-group-item w-100">
                    С вашего счета спишется: <span th:text="|${cost} рублей|"></span>
                </div>

                <div class="alert alert-info mt-4" role="alert">
                    В течение нескольких минут после оформления, вам придет подтверждение заказа от нашего менеджера. Приятных заказов!
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="agreement1" required>
                <label class="form-check-label" for="agreement1">
                    Я соглашаюсь с <a href="/customer/user-agreement" target="_blank">условиями компании</a>
                </label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="agreement2" required>
                <label class="form-check-label" for="agreement2">
                    Я подтверждаю, что ознакомлен(а) с <a href="/customer/confidential-policy" target="_blank">политикой конфиденциальности</a>
                </label>
            </div>

            <!-- Добавленный блок script -->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var submitButton = document.querySelector('.submit-button');
                    var agreementCheckboxes = document.querySelectorAll('.form-check-input');

                    function toggleSubmitButton() {
                        var allChecked = Array.from(agreementCheckboxes).every(function (checkbox) {
                            return checkbox.checked;
                        });

                        submitButton.disabled = !allChecked;
                    }

                    agreementCheckboxes.forEach(function (checkbox) {
                        checkbox.addEventListener('change', toggleSubmitButton);
                    });

                    toggleSubmitButton(); // Вызываем функцию один раз при загрузке страницы
                });
            </script>

            <form th:action="@{submitOrder}" method="post" class="container mt-2">
                <div th:replace="~{fragments/general :: prev-next-step-buttons ('Подтвердить оформление')}"></div>
            </form>
        </div>
    </div>
</main>


<footer th:insert="~{fragments/general :: footer}"></footer>

</body>
</html>