<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<main class="container mt-4 flex-grow-1">
    <div class="container mb-10">
        Стоимость перевозки: <span th:text="|${cost} рублей|"></span>
    </div>

    <form th:action="@{submitOrder}" method="post" class="container mt-10">
        <div th:replace="~{fragments/general :: prev-next-step-buttons ('Подтвердить')}"></div>
    </form>
</main>


<footer th:insert="~{fragments/general :: footer}"></footer>
