<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<div th:replace="~{fragments/general :: notification-modal}"></div>

<main class="container mt-4 flex-grow-1">
    <div class="container mb-10">
        <h2>Детали по вашему заказу</h2>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    <label class="fw-bold">Последнее время обновления:</label>
                    <p th:text="${#dates.format(selectedOrder.statusChangedTime, 'HH:mm:ss dd.MM.yyyy')}"></p>

                    <label class="fw-bold">Статус заказа:</label>
                    <p th:text="${selectedOrder.status}"></p>

                    <label class="fw-bold">Ваш водитель</label>
                    <p th:if="${selectedOrder.driverName == null}" th:text="ещё не назначен"></p>
                    <p th:if="${selectedOrder.driverName != null}" th:text="${selectedOrder.driverName}"></p>

                    <label class="fw-bold">Пункт отправления</label>
                    <p th:text="${selectedOrder.departureAddress}"></p>

                    <label class="fw-bold">Пункт назначения</label>
                    <p th:text="${selectedOrder.deliveryAddress}"></p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/general :: go-to-main-button}"></div>
</main>

<footer th:insert="~{fragments/general :: footer}"></footer>
</body>