<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<div th:replace="~{fragments/general :: notification-modal}"></div>

<main class="container mt-4 flex-grow-1">
    <div class="container col-md-auto">
        <div class="col-md-12">
            <div th:switch="${completedOrders}" class="container my-5">
                <div th:case="null">
                    <h1>Orders not found</h1>
                </div>
                <div th:case="*">
                    <h2 class="text-center">История заказов</h2>
                    <div class="table-responsive"> <!-- Убран класс mx-auto -->
                        <table class="table table-bordered table-striped mx-auto"> <!-- Добавлен класс mx-auto -->
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Имя водителя</th>
                                <th scope="col">Пункт отправления</th>
                                <th scope="col">Пункт получения</th>
                                <th scope="col">Последнее изменение</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${completedOrders}">
                                <td th:text="${order.id}"></td>
                                <td th:text="${order.driverName}"></td>
                                <td th:text="${order.departureAddress}"></td>
                                <td th:text="${order.deliveryAddress}"></td>
                                <td th:text="${#dates.format(order.statusChangedTime, 'HH:mm:ss dd.MM.yyyy')}"></td>
                                <td th:text="${order.status}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${totalPages > 1}">
                        <ul class="pagination pagination-lg justify-content-center">
                            <!-- Добавлен класс pagination-lg -->
                            <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${currentPage != 0}" class="page-link"
                                   th:href="@{'/customer/completedOrders?page=' + (${currentPage - 1}) + '&pageSize=' + ${pageSize}}">&laquo;</a>
                                <a th:unless="${currentPage != 0}" class="page-link disabled" href="#"
                                   style="pointer-events: none;">&laquo;</a>
                            </li>

                            <li class="page-item disabled">
                                <span class="page-link" style="cursor: default;">[[${currentPage + 1}]]</span>
                            </li>

                            <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${currentPage != totalPages}" class="page-link"
                                   th:href="@{'/customer/completedOrders?page=' + (${currentPage + 1}) + '&pageSize=' + ${pageSize}}">&raquo;</a>
                                <a th:unless="${currentPage != totalPages}" class="page-link disabled" href="#"
                                   style="pointer-events: none;">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/general :: prev-step-button}"></div>
</main>

<footer th:insert="~{fragments/general :: footer}"></footer>
</body>
</html>