<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности - Рога и Копыта</title>
</head>
<body>

<header>
    <h1>Политика конфиденциальности</h1>
</header>

<section>
    <h2>1. Сбор и использование информации</h2>
    <p>Компания "Рога и Копыта" собирает определенные виды информации при использовании наших сервисов, включая, но не ограничиваясь: персональные данные, данные о заказах и другую информацию, необходимую для обеспечения качественного предоставления услуг.</p>

    <h2>2. Хранение и защита данных</h2>
    <p>Мы предпринимаем все необходимые меры для обеспечения безопасности ваших данных. Вся информация хранится в защищенных системах, и доступ к ней предоставляется только сотрудникам, имеющим соответствующие права доступа.</p>

    <h2>3. Использование информации</h2>
    <p>Информация, собранная нами, используется исключительно для предоставления и улучшения наших услуг. Мы не передаем вашу личную информацию третьим лицам без вашего явного согласия, за исключением случаев, предусмотренных законом.</p>
</section>

<footer>
    <p>Дата последнего обновления: 29.12.2023</p>
    <p>Если у вас есть вопросы по поводу нашей политики конфиденциальности, свяжитесь с нами по адресу Кронверкский проспект, д. 49.</p>
</footer>

</body>
</html>
