<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<!-- main customer page with button to start new order and list of active orders -->

<main class="container mt-4 flex-grow-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-8">
                <p>Добро пожаловать, <span th:text="${name}"></span>!
                    Вы зашли как пользователь, если вы менеджер нажмите выйти -> </p>
            </div>
            <div class="col-md-4 ">
                <a th:href="@{/logout}" class="btn btn-danger">Выйти</a>
            </div>
        </div>
    </div>

    <!--    блок с кнопками - действия пользователя -->
    <div>
        <a th:href="@{/customer/addressForm}" class="btn btn-primary">Оформить новый заказ</a>

        <!--  посмотреть завершенные заказы -->
        <a th:href="@{/customer/completedOrders}" class="btn btn-primary">Посмотреть завершенные заказы</a>

    </div>

    <!--    блок с активными заказами -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Status</th>
            <th scope="col">Cost</th>
            <th scope="col">Departure Address</th>
            <th scope="col">Delivery Address</th>
            <th scope="col">Cargo Type</th>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>
            <th scope="col">Width</th>
            <th scope="col">Length</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.cost}"></td>
            <td th:text="${order.addressesDto.departure.name}"></td>
            <td th:text="${order.addressesDto.delivery.name}"></td>
            <td th:text="${order.cargo.type}"></td>
            <td th:text="${order.cargo.weight}"></td>
            <td th:text="${order.cargo.height}"></td>
            <td th:text="${order.cargo.width}"></td>
            <td th:text="${order.cargo.length}"></td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:insert="~{fragments/general :: footer}"></footer>
</body>
</html>