<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<!-- main customer page with button to start new order and list of active orders -->

<main class="container mt-4 flex-grow-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-8">
                <p>Добро пожаловать, <span th:text="${name}"></span>!
                    Вы зашли как пользователь, если вы менеджер нажмите выйти -> </p>
            </div>
            <div class="col-md-4 ">
                <a th:href="@{/logout}" class="btn btn-danger">Выйти</a>
            </div>
        </div>
    </div>

    <hr>

    <!--    блок с кнопками - действия пользователя -->
    <div class="container">
        <a th:href="@{/customer/addressForm}" class="btn btn-primary">Оформить новый заказ</a>

        <!--  посмотреть завершенные заказы -->
        <a th:href="@{/customer/completedOrders}" class="btn btn-primary">Посмотреть завершенные заказы</a>

    </div>

<!--    horizontal line -->
    <hr>

    <!--    блок с активными заказами -->
    <div class="container mt-4">
        <h2>Активные заказы</h2>

        <form action="#" th:action="@{/customer/showOrderDetails}" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Выбрать</th>
                    <th scope="col">Стоимость (руб.)</th>
                    <th scope="col">Адрес отправления</th>
                    <th scope="col">Адрес доставки</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td>
                        <input type="radio" name="selectedOrderId" th:value="${order.id}" />
                    </td>
                    <td th:text="${order.cost}"></td>
                    <td th:text="${order.addressesDto.departure.name}"></td>
                    <td th:text="${order.addressesDto.delivery.name}"></td>
                </tr>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary" id="viewDetailsBtn" disabled>Просмотреть детали</button>
        </form>
        <script>
            $(document).ready(function () {
                // Enable or disable button based on radio button selection
                $('input[type="radio"]').change(function () {
                    $('#viewDetailsBtn').attr('disabled', !$('input[type="radio"]:checked').length);
                });
            });
        </script>
    </div>
</main>

<footer th:insert="~{fragments/general :: footer}"></footer>
</body>
</html>