<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение - Дальнобойные грузоперевозки</title>
</head>
<body>

<header>
    <h1>Пользовательское соглашение</h1>
</header>

<section>
    <h2>1. Общие положения</h2>
    <p>Данным пользовательским соглашением (далее - "Соглашение") устанавливаются условия использования сервисов компании "Рога и Копыта" для дальнобойных грузоперевозок. Продолжая использование наших услуг, вы выражаете согласие с условиями данного Соглашения.</p>

    <h2>2. Условия пользования сервисами</h2>
    <p>Пользователь обязуется соблюдать все правила, условия и ограничения, установленные компанией "Рога и Копыта" в отношении использования сервисов. Это включает в себя ответственность за точность предоставляемой информации и соблюдение законов при заказе грузоперевозок.</p>

    <h2>3. Конфиденциальность</h2>
    <p>Компания "Рога и Копыта" обязуется защищать конфиденциальность личной информации пользователей. Мы собираем только необходимую информацию для обеспечения качественного предоставления услуг и не передаем ее третьим лицам без вашего согласия.</p>
</section>

<footer>
    <p>Дата последнего обновления: 29.12.2023</p>
    <p>Если у вас есть вопросы по поводу нашего пользовательского соглашения, свяжитесь с нами по адресу Кронверкский проспект, д. 49.</p>
</footer>

</body>
</html>
