<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database Tables</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/admin/drivers}" aria-selected="false">Driver</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/admin/customers}" aria-selected="false">Customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/admin/orders}" aria-selected="true">Orders</a>
        </li>
    </ul>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Order ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="orderId"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:switch="${orders}" class="container my-5">
        <div th:case="null">
            <h1>Сейчас нет новых заказов</h1>
        </div>
        <div th:case="*">
            <h2 class="text-center mt-4">Непроверенные заказы</h2>
            <table class="table ttable-borderedable-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Дата изменения статуса</th>
                    <th scope="col">Водитель</th>
                    <th scope="col">Пункт отправления</th>
                    <th scope="col">Пункт получения</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Проверить заказ</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${#dates.format(order.statusChangedTime, 'HH:mm:ss dd.MM.yyyy')}"></td>
                    <td th:text="${order.phoneNumber}"></td>
                    <td th:text="${order.departureAddress.country + ', ' + order.departureAddress.city + ', ' + order.departureAddress.street + ', ' + order.departureAddress.building}"></td>
                    <td th:text="${order.deliveryAddress.country + ', ' + order.deliveryAddress.city + ', ' + order.deliveryAddress.street + ', ' + order.deliveryAddress.building}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" th:data-orderid="${order.phoneNumber}" onclick="showOrderID(this.getAttribute('data-orderid'))">Проверить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${totalPages > 1}">
                <ul class="pagination pagination-lg justify-content-center">
                    <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${currentPage != 0}" class="page-link" th:href="@{'/admin?pageNumber=' + (${currentPage - 1}) + '&pageSize=' + ${pageSize}}">&laquo;</a>
                        <a th:unless="${currentPage != 0}" class="page-link disabled" href="#" style="pointer-events: none;">&laquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" style="cursor: default;">[[${currentPage + 1}]]</span>
                    </li>
                    <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${currentPage != totalPages}" class="page-link" th:href="@{'/admin?pageNumber=' + (${currentPage + 1}) + '&pageSize=' + ${pageSize}}">&raquo;</a>
                        <a th:unless="${currentPage != totalPages}" class="page-link disabled" href="#" style="pointer-events: none;">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function showOrderID(orderID) {
        document.getElementById('orderId').innerText = "Order ID: " + orderID;
        $('#orderModal').modal('show');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

