<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DB course work</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>

<div class="container col-md-auto offset-md-1">
    <div class="row">
        <!-- Форма -->
        <div class="col-md-6">
            <div class="order-form">
                <h2 class="text-center mt-4">Форма оформления заказа</h2>
                <form action="/add_order" method="post" enctype="multipart/form-data" th:object="${orderDataRequest}">
                    <div class = "row">
                        <div class="col-md-6">
                            <div class="departure-container">
                                <h3>Пункт отправления</h3>
                                <div class="form-group">
                                    <label for="departureCountry">Страна:</label>
                                    <select class="form-control" id="departureCountry" name="storageAddressRequest.departureCountry">
                                        <option value="Россия">Россия</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="departureCity">Город отправления:</label>
                                    <input type="text" class="form-control" id="departureCity" name="storageAddressRequest.departureCity" value="Москва" required>
                                </div>
                                <div class="form-group">
                                    <label for="departureStreet">Улица:</label>
                                    <input type="text" class="form-control" id="departureStreet" name="storageAddressRequest.departureStreet" value="Ленина" required>
                                </div>
                                <div class="form-group">
                                    <label for="departureHouse">Дом:</label>
                                    <input type="number" class="form-control" id="departureHouse" name="storageAddressRequest.departureHouse" step = "1" min = "1" value="10" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="destination-container">
                                <h3>Пункт получения</h3>
                                <div class="form-group">
                                    <label for="destinationCountry">Страна получения:</label>
                                    <select class="form-control" id="destinationCountry" name="storageAddressRequest.destinationCountry">
                                        <option value="Россия">Россия</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="destinationCity">Город получения:</label>
                                    <input type="text" class="form-control" id="destinationCity" name="storageAddressRequest.destinationCity" value="Москва" required>
                                </div>
                                <div class="form-group">
                                    <label for="destinationStreet">Улица получения:</label>
                                    <input type="text" class="form-control" id="destinationStreet" name="storageAddressRequest.destinationStreet" value="Кирова" required>
                                </div>
                                <div class="form-group">
                                    <label for="destinationHouse">Дом:</label>
                                    <input type="number" class="form-control" id="destinationHouse" name="storageAddressRequest.destinationHouse"  step = "1" min = "1" value="10" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-8 offset-2">
                            <div class="form-group">
                                <label for="length">Длина:</label>
                                <input type="number" class="form-control" id="length" name="physicalParametersRequest.length" step = "0.1"  min = "0.1" max = "15" value="7" required>
                            </div>
                            <div class="form-group">
                                <label for="width">Ширина:</label>
                                <input type="number" class="form-control" id="width" name="physicalParametersRequest.width" step = "0.1"  min = "0.1" max = "2.5" required value="2">
                            </div>
                            <div class="form-group">
                                <label for="height">Высота:</label>
                                <input type="number" class="form-control" id="height" name="physicalParametersRequest.height" step = "0.1"  min = "0.1" max = "4" required value="1.5">
                            </div>
                            <div class="form-group">
                                <label for="weight">Вес:</label>
                                <input type="number" class="form-control" id="weight" name="physicalParametersRequest.weight" step = "0.5"  min = "0.5" max = "25000" value="1000" required>
                            </div>
                            <div class="form-group">
                                <label for="loadingTime">Продолжительность загрузки (hh:mm):</label>
                                <input type="time" class="form-control" id="loadingTime" name="timeParametersRequest.loadingTime" value="01:30" required>
                            </div>
                            <div class="form-group">
                                <label for="unloadingTime">Продолжительность разгрузки (hh:mm):</label>
                                <input type="time" class="form-control" id="unloadingTime" name="timeParametersRequest.unloadingTime" value="01:30" required>
                            </div>

                            <div class="form-group">
                                <label for="cargoType">Тип кузова автомобиля:</label>
                                <select class="form-control" id="cargoType" name="physicalParametersRequest.cargoType">
                                    <option value="BULK">Открытый</option>
                                    <option value="PALLETIZED">Закрытый</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-6 mx-auto d-block">Оформить заказ</button>

                </form>
            </div>
        </div>
        <!-- Таблица -->
        <div class="col-md-6">
            <div th:switch="${orders}" class="container my-5">
                <div th:case="null">
                    <h1>Orders not found</h1>
                </div>
                <div th:case="*">
                    <h2 class="text-center mt-4">История заказов</h2>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">customerName</th>
                            <th scope="col">driverName</th>
                            <th scope="col">deliveryPoint</th>
                            <th scope="col">departurePoint</th>
                            <th scope="col">status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.customerName}"></td>
                            <td th:text="${order.driverName}"></td>
                            <td th:text="${order.deliveryPoint}"></td>
                            <td th:text="${order.departurePoint}"></td>
                            <td th:text="${order.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${totalPages > 1}">
                        <ul class="pagination">
                            <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${currentPage != 0}" class="page-link" th:href="@{'/orders?pageNumber=' + (${currentPage - 1}) + '&pageSize=' + ${pageSize}}">&laquo;</a>
                                <a th:unless="${currentPage != 0}" class="page-link disabled" href="#" style="pointer-events: none;">&laquo;</a>
                            </li>

                            <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${currentPage != totalPages}" class="page-link" th:href="@{'/orders?pageNumber=' + (${currentPage + 1}) + '&pageSize=' + ${pageSize}}">&raquo;</a>
                                <a th:unless="${currentPage != totalPages}" class="page-link disabled" href="#" style="pointer-events: none;">&raquo;</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
