<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: headerfiles}"></head>

<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/general :: header}"></header>

<div th:replace="~{fragments/general :: notification-modal}"></div>

<div class="container">
<!--    <ul class="nav nav-tabs">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-dark" th:href="@{/manager/drivers}" aria-selected="false">Driver</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-dark" th:href="@{/manager/customers}" aria-selected="false">Customer</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-dark" th:href="@{/manager/orders}" aria-selected="true">Orders</a>-->
<!--        </li>-->
<!--    </ul>-->
    <div class="row justify-content-between align-items-center">
        <div class="col-md-8">
            <p>Добро пожаловать, <span th:text="${name}"></span>!
                Вы зашли как менеджер, если вы хотите выйти нажмите выйти -> </p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a th:href="@{/logout}" class="btn btn-danger">Выйти</a>
        </div>
    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Карточка заказа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div th:switch="${ords}" class="container my-5">
                        <div th:case="null">
                            <h1>Сейчас нет новых заказов</h1>orderID
                        </div>
                    <div class="orders" th:case="*">
                        <div class="list-group">
                            <div th:id="${ord.id}" class=" flex-column align-items-start" th:each="ord : ${ords}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">ID заказа: <span th:text="${ord.id}"></span></h5>
                                    <small>Дата создания: <span th:text="${#dates.format(ord.statusChangedTime, 'HH:mm:ss dd.MM.yyyy')}" ></span></small>
                                </div>
                                <!-- Блок с информацией о заказчике -->
                                <div th:id="${ord.id}" class="customer-info list-group-item">
                                    <p class="mb-1">Телефон заказчика: <span th:text="${ord.phoneNumber}"></span></p>
                                    <p class="mb-1">Имя заказчика: <span th:text="${ord.customerFirstName}"></span></p>
                                    <p class="mb-1">Фамилия заказчика: <span th:text="${ord.customerLastName}"></span></p>
                                </div>

                                <!-- Блок с информацией о грузе -->
                                <div th:id="${ord.id}" class="cargo-info list-group-item">
                                    <p class="mb-1">Вес: <span th:text="${ord.cargo.weight}"></span></p>
                                    <p class="mb-1">Длина: <span th:text="${ord.cargo.length}"></span></p>
                                    <p class="mb-1">Ширина: <span th:text="${ord.cargo.width}"></span></p>
                                    <p class="mb-1">Высота: <span th:text="${ord.cargo.height}"></span></p>
                                    <p class="mb-1">Тип груза: <span th:text="${ord.cargoType}"></span></p>
                                </div>

                                <!-- Блок с информацией о времени -->
                                <div th:id="${ord.id}" class="time-info list-group-item">
                                    <p class="mb-1">Время загрузки: <span th:text="${ord.loadingTime}"></span></p>
                                    <p class="mb-1">Время разгрузки: <span th:text="${ord.unloadingTime}"></span></p>
                                </div>

                                <!-- Блоки с информацией о пунктах -->
                                <div th:id="${ord.id}" class="address-info list-group-item">
                                    <p class="mb-1">Пункт отправления: <span th:text="${ord.departureAddress.country + ', ' + ord.departureAddress.city + ', ' + ord.departureAddress.street + ', ' + ord.departureAddress.building}"></span></p>
                                    <p class="mb-1">Пункт получения: <span th:text="${ord.deliveryAddress.country + ', ' + ord.deliveryAddress.city + ', ' + ord.deliveryAddress.street + ', ' + ord.deliveryAddress.building}"></span></p>
                                </div>

                                <!-- Блок с информацией о статусе -->
                                <div th:id="${ord.id}" class="status-info list-group-item">
                                    <p class="mb-1">Статус: <span th:text="${ord.status}"></span></p>
                                </div>
                                <div th:id="${ord.id}" class="mt-4 d-flex justify-content-between">
                                    <button class="btn btn-success mr-auto"  th:data-orderid="${ord.id}" onclick="approveOrder(this.getAttribute('data-orderid'))">Одобрить заказ</button>
                                    <button class="btn btn-danger ml-auto"  th:data-orderid="${ord.id}" onclick="rejectOrder(this.getAttribute('data-orderid'))">Отклонить заказ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div th:switch="${orders}" class="container my-3">
        <div th:case="null">
            <h1>Сейчас нет новых заказов</h1>
        </div>
        <div th:case="*">
            <h2 class="text-center mt-0 mb-0">Непроверенные заказы</h2>
            <table class="table ttable-borderedable-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Телефон заказчика</th>
                    <th scope="col">Пункт отправления</th>
                    <th scope="col">Пункт получения</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Проверить заказ</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${#dates.format(order.statusChangedTime, 'HH:mm:ss dd.MM.yyyy')}"></td>
                    <td th:text="${order.phoneNumber}"></td>
                    <td th:text="${order.departureAddress.country + ', ' + order.departureAddress.city + ', ' + order.departureAddress.street + ', ' + order.departureAddress.building}"></td>
                    <td th:text="${order.deliveryAddress.country + ', ' + order.deliveryAddress.city + ', ' + order.deliveryAddress.street + ', ' + order.deliveryAddress.building}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" th:data-orderid="${order.id}" onclick="showOrderID(this.getAttribute('data-orderid'))">Проверить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${totalPages > 1}">
                <ul class="pagination pagination-lg justify-content-center">
                    <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${currentPage != 0}" class="page-link" th:href="@{'/manager?pageNumber=' + (${currentPage - 1}) + '&pageSize=' + ${pageSize}}">&laquo;</a>
                        <a th:unless="${currentPage != 0}" class="page-link disabled" href="#" style="pointer-events: none;">&laquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" style="cursor: default;">[[${currentPage + 1}]]</span>
                    </li>
                    <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${currentPage != totalPages}" class="page-link" th:href="@{'/manager?pageNumber=' + (${currentPage + 1}) + '&pageSize=' + ${pageSize}}">&raquo;</a>
                        <a th:unless="${currentPage != totalPages}" class="page-link disabled" href="#" style="pointer-events: none;">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/general :: footer}" class="mt-auto"></footer>

</body>
<script>
    function showOrderID(orderID) {
        var modalDiv = document.querySelectorAll('.modal-body .orders .list-group div');
        modalDiv.forEach(function(div) {
            if (div.getAttribute('id') === orderID) {
                div.style.display = 'block';
            } else {
                div.style.display = 'none';
            }
        });

        $('#orderModal').modal('show');
    }


    function approveOrder(orderID) {
        window.location.href = 'manager/find_suitable_driver?orderId=' + orderID;
    }

    // Функция для отклонения заказа
    function rejectOrder(orderID) {
        window.location.href = 'manager/reject_order?orderId=' + orderID;
    }
</script>
</html>

