<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>

<form action="/register" method="post" th:object="${user}">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required minlength="6" maxlength="20">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message">Name error</div>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required minlength="6" maxlength="40">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message">Name error</div>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required minlength="6" maxlength="40">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message">Name error</div>
    </div>
    <div>
        <label for="phone">Номер телефона:</label>
        <input type="text" id="phone" name="phone" th:field="*{phone}" required pattern="[0-9]{11}" title="88005553535">
        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error-message">Name error</div>
    </div>
    <input type="hidden" id="isAdmin" name="isAdmin" value="false">
    <button type="submit">Зарегистрироваться</button>
</form>


</body>
</html>
